{% macro show_flash() %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info alert-dismissible" role="alert" style="margin:0 auto; width:90%">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <a href="{{ url_for('auth.login') }}" class="alert-link" style="font-weight: lighter">{{ message }}</a>
        </div>
    {% endfor %}
{% endmacro %}

{% macro show_footer() %}
    <footer class="text-center" style="margin-top: 20px;">
        <small> &copy; 2021 <a href="https://github.com/luyueti111" title="Written by Grey Li">Yueti Lu</a> /
            <a href="https://github.com/luyueti111/Bluelog" title="Fork me on GitHub">GitHub</a> /
            <a href="{{ url_for('blog.hello') }}" title="A HelloFlask project">Say Hello</a>
        </small>
    </footer>
{% endmacro %}

{% macro show_post_in_index(post) %}
    <a class="list-group-item" href="{{ url_for('blog.replyPage', post_id=post.id) }}">
        <span class="badge">{{ post.commentNum }}</span>
        <h4 class="list-group-item-heading">{{ post.title }}</h4>
        <p class="list-group-item-text"
           style="width: 100%; word-break: break-all; word-wrap: break-word">{{ post.body }}</p>
        <small style="right: 0">
            最后回复:{{ post.timestamp.strftime('%Y/%m/%d %H:%M') }}&nbsp;&nbsp;
        </small>
        <small>点击量:{{ post.clickNum }}&nbsp;&nbsp;</small>
    </a>
{% endmacro %}

{% macro show_post_in_admin(post) %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <a class="list-group-item" href="{{ url_for('blog.replyPage', post_id=post.id) }}">
                    <span class="badge">{{ post.commentNum }}</span>
                    <h4 class="list-group-item-heading">{{ post.title }}</h4>
                    <p class="list-group-item-text"
                       style="width: 100%; word-break: break-all; word-wrap: break-word">{{ post.body }}</p>
                    <small style="right: 0">
                        最后回复:{{ post.timestamp.strftime('%Y/%m/%d %H:%M') }}&nbsp;&nbsp;
                    </small>
                    <small>点击量:{{ post.clickNum }}&nbsp;&nbsp;</small>
                </a>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-1">
                            <a href="{{ url_for('admin.deletePost', post_id=post.id) }}"
                               class="btn btn-link text-right"
                               onclick="return confirm('Are you Sure?')" style="margin-right: 5%">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro show_comment_in_post(comment) %}
    {% set post = comment.post %}
    <li class="list-group-item">
        {% if comment.name == post.name %}
            <h4 class="list-group-item-heading text-info">{{ comment.name }}<small>&nbsp;&nbsp;&nbsp;#{{ comment.commentFloor }}</small>
            </h4>
        {% else %}
            <h4 class="list-group-item-heading">{{ comment.name }}<small>&nbsp;&nbsp;&nbsp;#{{ comment.commentFloor }}</small>
            </h4>
        {% endif %}
        {% if comment.replyTo is not none %}
            <h5><small>Reply to&nbsp;&nbsp;</small>{{ comment.replyTo }}</h5>
        {% endif %}
        <p class="list-group-item-text"
           style="width: 100%; word-break: break-all; word-wrap: break-word; font-size: medium">{{ comment.body }}</p>
        <small>
            {{ comment.timestamp.strftime('%Y/%m/%d %H:%M') }}
        </small>
    </li>
{% endmacro %}


{% macro show_comment_in_href(comment) %}
    {% set post = comment.post %}
    <a class="list-group-item" href="{{ url_for('blog.replyPage', post_id=comment.post_id) }}">
        {% if comment.name == post.name %}
            <h4 class="list-group-item-heading text-info">{{ comment.name }}<small>&nbsp;&nbsp;&nbsp;#{{ comment.commentFloor }}</small>
            </h4>
        {% else %}
            <h4 class="list-group-item-heading">{{ comment.name }}<small>&nbsp;&nbsp;&nbsp;#{{ comment.commentFloor }}</small>
            </h4>
        {% endif %}

        {% if comment.replyTo is not none %}
            <h5><small>Reply to&nbsp;&nbsp;</small>{{ comment.replyTo }}</h5>
        {% endif %}
        <p class="list-group-item-text"
           style="width: 100%; word-break: break-all; word-wrap: break-word; font-size: medium">{{ comment.body }}</p>
        <small>
            {{ comment.timestamp.strftime('%Y/%m/%d %H:%M') }}
        </small>
    </a>
{% endmacro %}

{% macro show_comment_in_admin(comment) %}
    {% set post = comment.post %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <a class="list-group-item" href="{{ url_for('blog.replyPage', post_id=comment.post_id) }}">
                    {% if comment.name == post.name %}
                        <h4 class="list-group-item-heading text-info">{{ comment.name }}<small>&nbsp;&nbsp;&nbsp;#{{ comment.commentFloor }}</small>
                        </h4>
                    {% else %}
                        <h4 class="list-group-item-heading">{{ comment.name }}<small>&nbsp;&nbsp;&nbsp;#{{ comment.commentFloor }}</small>
                        </h4>
                    {% endif %}

                    {% if comment.replyTo is not none %}
                        <h5><small>Reply to&nbsp;&nbsp;</small>{{ comment.replyTo }}</h5>
                    {% endif %}
                    <p class="list-group-item-text"
                       style="width: 100%; word-break: break-all; word-wrap: break-word; font-size: medium">{{ comment.body }}</p>
                    <small>
                        {{ comment.timestamp.strftime('%Y/%m/%d %H:%M') }}
                    </small>
                </a>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-1">
                            <a href="{{ url_for('admin.deleteComment', comment_id=comment.id) }}"
                               class="btn btn-link text-right"
                               onclick="return confirm('Are you Sure?')" style="margin-right: 5%">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro show_errors(errors) %}
    {% for error in errors %}
        <div class="alert alert-danger alert-dismissible" role="alert" style="width:90%; margin: 3px auto 0;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ error }}
        </div>
    {% endfor %}
{% endmacro %}