[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-ckeditor = "*"
flask-moment = "*"
python-dotenv = "*"
wtform = "*"
wtforms = "*"
faker = "*"
flask-login = "*"
email-validator = "*"
requests = "*"
bs4 = "*"
flask-wtf = "==0.14.3"
pipreqs = "*"
pip-review = "*"

[dev-packages]

[requires]
python_version = "3.8"
