{% extends 'base.html' %}
{% from "macros.html" import show_flash with context %}
{% from "macros.html" import show_footer %}
{% from "macros.html" import show_post_in_admin %}


{% block content %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation"><a href="{{ url_for('admin.index') }}">Home</a></li>
            <li role="presentation"><a href="{{ url_for('admin.manageUnreadMessages') }}">Unread</a></li>
            <li role="presentation" class="active"><a href="{{ url_for('admin.managePosts') }}">My Posts</a></li>
            <li role="presentation"><a href="{{ url_for('admin.manageComments') }}">My Comments</a></li>
        </ul>

        <div class="page-header">
            <h2>All <small>Posts</small></h2>
        </div>
        <ul class="list-group" style="margin:0 auto; width:90%">
            {% for post in posts %}
                {{ show_post_in_admin(post) }}
            {% endfor %}
        </ul>
        {{ show_footer() }}
    </div>
    <div class="col-md-4"></div>
{% endblock content %}