{% extends 'base.html' %}
{% from "macros.html" import show_flash with context %}
{% from "macros.html" import show_footer %}
{% from "macros.html" import show_post %}


{% block content %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form role="form" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                <div class="input-group" style="margin:0 auto; width:90%">
                    {{ form.name.label(class="h4") }}<br>
                    {{ form.name(class="form-control ", placeholder="Username", readonly="readonly") }}
                </div>
                <div class="input-group" style="margin:0 auto; width:90%">
                    {{ form.title.label(class="h4") }}<br>
                    {{ form.title(class="form-control ", placeholder="Title") }}
                </div>
                <div class="input-group" style="margin:0 auto; width:90%">
                    {{ form.body.label(class="h4") }}<br>
                    {{ form.body(class="form-control", placeholder="Please Enter Your Message", rows="3", style="resize: none;") }}
                </div>
                {{ form.submit(class="btn btn-primary", type="submit", style="margin-top: 10px; margin-left: 5%") }}
            </div>
        </form>
        {{ show_flash() }}
        <h4 style="margin-left: 5%">{{ posts|length }} Posts</h4>
        <div class="list-group" style="margin:0 auto; width:90%">
            {% for post in posts %}
                {{ show_post(post) }}
            {% endfor %}
        </div>
        {{ show_footer() }}
    </div>
    <div class="col-md-4"></div>
{% endblock content %}